.banner {
    height: 150px;
    background-color: rgb(57, 92, 149);
    text-align: center;
    padding: 50px;
    font-size: 30px;
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: rgb(57, 92, 149);
    align-items: center;
    padding: 10px;
    bottom: 0%;
    position:fixed;
    width: 100%;
}
.footer .info {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}
.logo {
    display: flex; 
    height: 180px;
    size: 180px;
    padding: 14px
}
.header {
    display:block;
    background-color: rgb(88, 132, 204);
    text-align: right;
    padding: 15px 0px;
    overflow: hidden;
    justify-content: space-between;
    width: 100%;
}
.logohore {
    display: flex; 
    height: 200px;
    size: 200px;
    padding: 14px;
}

/* Všechno pod tímhle je pouze na dropdown button */

.dropbutton {
    background-color: rgb(45, 95, 175);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    text-decoration: none;
}
.dropbutton:hover {
    background-color: #4a53a1;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(45, 95, 175);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #4a53a1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
