.banner {
    height: 150px;
    background-color: rgb(57, 92, 149);
    text-align: center;
    padding: 50px;
    font-size: 30px;
}
.footer {
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(87, 113, 162);
    color: black;
    text-align: center;
}